
@{
    ViewBag.Title = "EditComponent";
}
<h3>Edit Component</h3>

    <form class="top10">

        <div class="form-group col-md-8">
            <div class="col-md-2">
                <label for="Name">Name: </label>
            </div>
            <div class="col-md-6">
                <input type="hidden" ng-model="Component.Id" class="form-control" />

                <input type="text" ng-model="Component.Name" class="form-control" required/>
            </div>
        </div>
            <div class="form-group col-md-8">
                <div class="col-md-2">
                    <label for="Type">Type: </label>
                </div>
                <div class="col-md-6">
                    <input type="text" ng-model="Component.Type" class="form-control" />
                </div>
            </div>
            <div class="form-group col-md-8">
                <div class="col-md-2">
                    <label for="Price">Price: </label>
                </div>
                <div class="col-md-6">
                    <input type="text" ng-model="Component.Price" class="form-control" />
                </div>
            </div>
            <div class="form-group col-md-8">
                <div class="col-md-2">
                    <label for="Country">Country: </label>
                </div>
                <div class="col-md-6">
                    <input type="text" ng-model="Component.Country" class="form-control" />
                </div>
            </div>
            <div class="form-group col-md-8">
                <div class="col-md-2">
                    <label for="DueDate">DueDate: </label>
                </div>
                <div class="col-md-6">
                    <input type="date" ng-model="Component.DueDate" value="{{ Component.DueDate | date: 'yyyy-MM-dd' }}"class="form-control" />                                    
                </div>
            </div>
        <div class="form-group col-md-8">
            <div class="col-md-2">
                <input class="btn btn-primary" type="button" value="Save" ng-click="save()" />
            </div>         
        </div>
        

        <div class="form-group col-md-8">
            <div class="error">{{error}}</div>

        </div>
    </form>


