<div class="container">
  
    <h2>List of Components</h2>

    @*<div class="alert alert-info top10" role="alert" ng-show=showHover ng-init="showHover=true">To edit component {{tooltipText}} click on the row</div></td>*@
    <div class="alert alert-info top10" role="alert" >To edit component click on the table row. </div>

    <div class="top10">
   
        <table class="table table-condensed table-hover ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Country</th>
                    <th>DueDate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="componentTableRow" ng-repeat="Com in Components" ng-click="editComponent(Com.Id)">

                    <td>{{Com.Name}}
                    <td>{{Com.Type}}</td>
                    <td>{{Com.Price}}</td>
                    <td>{{Com.Country}}</td>
                    <td>{{Com.DueDate | date: 'yyyy-MM-dd'}}</td>
                    <td ng-click="$event.stopPropagation()"><a ng-click="deleteComponent(Com.Id)">Delete</a></td>
                </tr>
            </tbody>
        </table>

    </div>
        <div class="error">{{error}}</div>
    </div>

  